%h1 第#{@event.number}回「WEB TOUCH MEETING」
- if presentations = @event.presentations
  - presentations.each do |presentation|
    %ul
      %li
        %dl
          %dt #{presentation.title}
          %dd= link_to "#{presentation.speaker} さん", "/speakers/eiel"
